<% var s = window.App.S; %>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="container-fluid" id="infoPageWrapper">
			<div class="row">
				<div class="col-md-12" id="msgContent">

				</div>
			</div>
			<hr />
			<div class="alignCenter">
				<input type="button" id="proceed" class="btn btn-primary btn-lg" value="<%= s['proceed']%>"/>
			</div>
			<br />
		</div>
	</div>
</div>